{% extends "./default.html.twig" %}
{% block body %}
            <div class="col-lg-12">
                <h1>Users management</h1>
                <form method="post" action="">
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>Login</th>
                            <th>Role</th>
                            <th>Email</th>
                            <th>Active</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for user in data %}
                        <tr>
                            <td>{{ user['login'] }}</td>
                            <td>{{ user['role'] }}</td>
                            <td>{{ user['email'] }}</td>
                            <td><input name = "active[{{ user['id'] }}][]" data-reverse type="checkbox"
                                {% if(user['active']=='1')%}
                                    checked
                                {% endif %}>
                            </td>
                            <td>
                                <a class="btn btn-md btn-warning" onclick="return confirmDelete();"
                                   href="{{ router->buildUri('delete', [$user['id']]) }}">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td>
                                <input name="submit" type="submit" class="btn btn-lg btn-success" value="Save state(s) of user(s)">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
{% endblock %}
